@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@font-face {
    font-family: 'Good Times Rg';
    src: url('../font/GoodTimesRg-Regular.eot');
    src: url('../font/GoodTimesRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/GoodTimesRg-Regular.woff2') format('woff2'),
        url('../font/GoodTimesRg-Regular.woff') format('woff'),
        url('../font/GoodTimesRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
label{
    cursor: pointer;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
/*main style*/
.wrapper{
    width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

/*header*/
.header{
    background: #2c323e;
 }
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    padding: 40px 0;}

.contakt-link{
    
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}
.contakt-link span{
    color: #9f9f9f;
}
.back_call{
    color: #ea3565;
    text-shadow: 1px 1px 1px #1b1d22;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}
.border{
    border-bottom: 1px dotted #ea3565;
    box-shadow: 1px 1px 1px #1b1d22;
}
.logo a{
    text-decoration: none;
}
.logo_name{
    color: #ffffff;
    font-family: "Good Times Rg";
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
}
.prof{
 color: #ea3565
}
.tagline{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
.online{
    text-align: center;
}
.online_entry{
    color: #ea3565;
    text-shadow: 1px 1px 1px #1b1d22;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    }
.qwer{
    border-bottom: 1px dotted #ea3565;
    box-shadow: 1px 1px 1px #1b1d22;
    margin: 0 15px 0 15px;
}
.networks{
    font-size: 0;
    margin-top: 20px;
   
}
.networks li {
    display: inline-block;
    font-size: 9px;
    border: 1px solid #9f9f9f;
    background-color: #3d434d;
 
}
.networks li+li{
    margin-left: 9px;
}
.networks li a{
    background: url('../image/css_sprites.png'), url('../image/css_sprites.png');
    display: block;
    width: 28px;
    height: 28px;
}
.networks li a{
    background-position: 0px -241px, 0px -205px;
}
.networks li+li a{
    background-position: -4px -36px, -3px -2px;
}
.networks li+li+li a {
    background-position: -2px -104px, -1px -69px;
}
.networks li+li+li+li a {
    background-position: -1px -172px, 0px -137px;
}
nav{
    display: flex;
    justify-content: space-between;   
    height: 58px;
    align-items: center;
}
.home li a{
    background: url('../image/css_sprites.png');
    display: block;
    width: 15px;
    height: 16px;
    background-position: -10px -318px;
}
.menu {
    font-size: 0;
    position: relative;
}
.menu li {
    position: relative;
    border-left: 1px dotted rgb(234, 53, 101, .65);
    padding: 6px 20px;
}
.menu>li {
    display: inline-block;
}
.menu li a{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.24px;
}
.about_menu{
    margin: 0px;
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
   
}
.about_menu li{
    background-color: #2c323e;
    border-left: 0;
    width: 130px;
    height: 44px;
    border-bottom: 1px dotted rgb(234, 53, 101, .65);
    padding: 0 0 0 10px;
}
.about:hover .about_menu {
    overflow: visible;
    padding: 15px 0;
    transition: padding 2s ease;
    transition: height 2s ease;
    z-index: 20;
}
.about_menu li a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding-top: 15px;
}
.about:hover .about_company{
    color: #ea3565;
}
.about_menu li:hover {
    background-color: #ea3565;
}
.button{
    border: 1px solid #ea3565;
    background-color: rgba(234, 53, 101, 0.14);
    position: relative;
}
.button a{
    text-decoration: none;
    color: #ea3565;
    text-shadow: 1px 1px 1px rgb(27, 29, 34);
    font-size: 16px;
    font-weight: 400;
    width: 163px;
    height: 28px;
    display: block;
    text-align: center;
    padding-top: 11px; 
}
.button:hover{
    background-color: rgba(234, 53, 101);
}
.button a:hover{
    color: white;
    text-shadow: 1px 1px 1px rgb(27, 29, 34, .25);
   
}

/*slider_photo*/
.slider_photo{
 position: relative;
 height: 472px;
}
.slider_photo:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
}
.slider_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.text_slider{
    z-index: 10;
    text-align: right;
    position: relative;
    padding-top: 81px;
}
h1{
    color: #ea3565;
    font-size: 38px;
    text-transform: uppercase;
}
h3{
    color: #ffffff;
    font-size: 19px;
    text-transform: uppercase;
    padding: 16px 0;
}
h4{
    color: #ffffff;
    font-size: 17px;
}
.sing_up a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(27, 29, 34, .3);
    font-size: 16px;
    font-weight: 400;
    width: 163px;
    height: 30px;
    display: block;
    padding-top: 11px;
    border: 1px solid #ea3565;
    background-color: #ea3565;
    text-align: center;
}
.sing_up{
    position: relative;
    margin-left: 810px;
    padding-top: 30px;
}
.slider{
    z-index: 10;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-top: 194px;
}
.active{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: #ea3565;
}
.photo2,
.photo3{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    margin-left: 11px;
}
.slider li a {
    text-decoration: none;
    display: block;
    text-align: center;
    width: 9px;
    height: 9px;
}
/*courses*/
.courses{
    background: white;
}
.choice_courses{
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
}

.choice_courses li {
    width: 320px;
    height: 149px;
}
.choice_courses li a {
    text-decoration: none;
    display: block;
    text-align: left;
    width: 296px;
    height: 127px;
    margin: 11px;
}
.choice_courses li a p{
    border: 1px dotted white;
    height: 106px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 1px 1px 1px #890c2d;
    padding: 21px 0 0 21px;
   
}

.base_courses{
    background: url(../image/base_courses.png);
}
.design_courses{
    background: url(../image/design_courses.png);
}
.high_level{
    background: url(../image/high_level.png);
}

/*about_us*/
.about_us{
    background: white;
}
h2{
    margin-top: 29px;
   padding-bottom: 10px;
    color: #31353d;
    font-size: 32px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid #bdbdbf;
}
.about_us_text p{
    padding-top: 26px;
    color: #344046;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
/*news*/
.news{
    background: white;
}
/*footer*/
.footer{
    background: #2c323e;
}
